.you-tube-thq-you-tube-elm {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.you-tube-thq-pasted-image-elm {
  width: 120px;
}
 
@media(max-width: 479px) {
  .you-tube-thq-you-tube-elm {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-thq-pasted-image-elm {
    width: 80px;
  }
}
