.you-tube-wrapper {
  display: contents;
}
 
.you-tube-thq-you-tube-elm {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.you-tube-thq-pasted-image-elm {
  width: 120px;
}
 
@media(max-width: 479px) {
  .you-tube-thq-you-tube-elm {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-thq-pasted-image-elm {
    width: 80px;
  }
}

.you-tube-wrapper-5nf2 {
  display: contents;
}
 
.you-tube-thq-you-tube-elm1 {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.you-tube-thq-pasted-image-elm1 {
  width: 120px;
}
 
@media(max-width: 479px) {
  .you-tube-thq-you-tube-elm1 {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-thq-pasted-image-elm1 {
    width: 80px;
  }
}

.you-tube-wrapper-a8gg {
  display: contents;
}
 
.you-tube-thq-you-tube-elm2 {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.you-tube-thq-pasted-image-elm2 {
  width: 120px;
}
 
@media(max-width: 479px) {
  .you-tube-thq-you-tube-elm2 {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-thq-pasted-image-elm2 {
    width: 80px;
  }
}

.you-tube-wrapper-gpny {
  display: contents;
}
 
.you-tube-thq-you-tube-elm3 {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.you-tube-thq-pasted-image-elm3 {
  width: 120px;
}
 
@media(max-width: 479px) {
  .you-tube-thq-you-tube-elm3 {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-thq-pasted-image-elm3 {
    width: 80px;
  }
}

.you-tube-wrapper-bed3 {
  display: contents;
}
 
.you-tube-thq-you-tube-elm4 {
  width: 240px;
  height: 120px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.you-tube-thq-pasted-image-elm4 {
  width: 120px;
}
 
@media(max-width: 479px) {
  .you-tube-thq-you-tube-elm4 {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-thq-pasted-image-elm4 {
    width: 80px;
  }
}

.footer3-wrapper {
  display: contents;
}
 
.footer3-thq-footer4-elm {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.footer3-thq-max-width-elm {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer3-thq-content-elm {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.footer3-thq-logo-elm {
  gap: 24px;
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer3-image {
  width: 133px;
  object-fit: cover;
}
 
.footer3-thq-links-elm {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: flex-start;
}
 
.footer3-thq-social-links-elm {
  gap: var(--dl-layout-space-unit);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
 
.footer3-link1 {
  display: contents;
}
 
.footer3-icon1 {
  text-decoration: none;
}
 
.footer3-link2 {
  display: contents;
}
 
.footer3-icon3 {
  text-decoration: none;
}
 
.footer3-thq-credits-elm {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.footer3-thq-row-elm {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.footer3-thq-footer-links-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
 
.footer3-thq-content3-elm {
  font-family: "Inter";
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text46 {
  display: inline-block;
  font-family: "Inter";
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text50 {
  display: inline-block;
  font-family: "Inter";
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text47 {
  display: inline-block;
  font-family: "Inter";
}
 
.home-fragment6 {
  display: contents;
}
 
.home-text51 {
  display: inline-block;
  font-family: "Inter";
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text48 {
  display: inline-block;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text49 {
  display: inline-block;
  font-family: "Inter";
}
 
@media(max-width: 991px) {
  .footer3-thq-logo-elm {
    width: auto;
  }
}
 
@media(max-width: 767px) {
  .footer3-thq-content-elm {
    flex-direction: column;
  }
  .footer3-thq-row-elm {
    flex-direction: column;
  }
  .footer3-thq-footer-links-elm {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .footer3-thq-max-width-elm {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .footer3-thq-content-elm {
    width: 100%;
  }
  .footer3-thq-links-elm {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.home-container10 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
}
 
.home-thq-hero-elm {
  width: 100%;
  height: 970px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  padding-left: var(--dl-layout-space-sevenunits);
  padding-right: var(--dl-layout-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
  background-image: linear-gradient(225deg, rgb(246, 246, 246) 0.00%,rgb(255, 170, 170) 49.00%,rgb(248, 113, 113) 76.00%);
}
 
.home-thq-header-elm {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-thq-mobile-navigation-elm {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
 
.home-thq-logo-elm {
  width: 64px;
}
 
.home-thq-links-elm {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  margin-top: var(--dl-layout-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
 
.home-thq-close-mobile-menu-elm {
  top: var(--dl-layout-space-oneandhalfunits);
  right: var(--dl-layout-space-oneandhalfunits);
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-icon1 {
  width: 24px;
  height: 24px;
  display: flex;
}
 
.home-thq-desktop-navigation-elm {
  width: 100%;
  display: flex;
  margin-top: var(--dl-layout-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
 
.home-thq-centered-elm {
  width: 1172px;
  height: 40px;
  display: flex;
  max-width: 1200px;
  box-sizing: initial;
  align-items: center;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: 16px;
  padding-right: var(--dl-layout-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0);
}
 
.home-thq-left-elm1 {
  height: 50%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
 
.home-image1 {
  width: 151px;
  height: 56px;
  object-fit: cover;
}
 
.home-thq-right-elm {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.home-link1 {
  display: contents;
}
 
.home-thq-get-started-elm {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: 12px;
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
  background-color: #f87171;
}
 
.home-thq-get-started-elm:hover {
  background-color: #5228F5;
}
 
.home-text13 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
 
.home-thq-burger-menu-elm {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.home-thq-mobile-menu-button-elm {
  width: 40px;
  height: 40px;
  display: none;
}
 
.home-container12 {
  display: contents;
}
 
.home-thq-content-elm {
  display: flex;
  margin-top: 140px;
  align-items: center;
  flex-direction: column;
}
 
.home-text14 {
  color: rgb(29, 45, 68);
  width: 965px;
  height: 168px;
  font-size: 72px;
  margin-top: 100px;
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -3px;
}
 
.home-text15 {
  font-style: normal;
}
 
.home-text16 {
  font-style: normal;
  font-family: "Georgia";
}
 
.home-text17 {
  font-size: 73px;
  font-style: italic;
  font-family: "Georgia";
  font-weight: 500;
}
 
.home-text18 {
  font-size: 70px;
  font-style: normal;
}
 
.home-text19 {
  font-style: normal;
}
 
.home-text20 {
  color: rgba(29, 45, 68, 0.48);
  height: 69px;
  font-size: 20px;
  max-width: 600px;
  font-style: normal;
  margin-top: 16px;
  text-align: center;
  font-family: "Inter";
  font-weight: 300;
  line-height: 30px;
}
 
.home-container13 {
  flex: 0 0 auto;
  width: 537px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
 
.home-link2 {
  display: contents;
}
 
.home-thq-share-your-challenges-elm {
  top: 6px;
  color: white;
  right: 30px;
  cursor: pointer;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  border-color: #f87171;
  border-width: 3px;
  padding-left: var(--dl-layout-space-twounits);
  border-radius: 12px;
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
  background-color: #f87171;
}
 
.home-thq-share-your-challenges-elm:hover {
  color: black;
  border-color: #1d2d44;
  background-color: #1d2d44;
}
 
.home-text21 {
  color: rgb(246, 246, 246);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
 
.home-link3 {
  display: contents;
}
 
.home-thq-learn-more-elm {
  top: 6px;
  left: 30px;
  color: white;
  cursor: pointer;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  border-color: #f6f6f6;
  border-width: 3px;
  padding-left: var(--dl-layout-space-twounits);
  border-radius: 12px;
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
  background-color: rgba(246, 246, 246, 0.71);
}
 
.home-thq-learn-more-elm:hover {
  color: black;
  background-color: #ffffff;
}
 
.home-text22 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
 
.home-image2 {
  width: 50px;
  height: 30px;
  align-self: center;
  margin-top: 350px;
  object-fit: fill;
  margin-bottom: 350px;
}
 
.home-thq-banners-elm1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-thq-banner-manage-elm1 {
  width: 100%;
  height: 504px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  padding-left: var(--dl-layout-space-sevenunits);
  padding-right: var(--dl-layout-space-sevenunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-sixunits);
  justify-content: center;
  background-color: #EFF0F2;
}
 
.home-container14 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-thq-left-elm2 {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-fourunits);
  flex-direction: column;
}
 
.home-text23 {
  color: rgb(248, 113, 113);
}
 
.home-text24 {
  color: rgb(29, 45, 68);
  font-size: 60px;
  text-align: left;
}
 
.home-text25 {
  color: rgba(29, 45, 68, 0.6);
  line-height: 24px;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.home-image3 {
  width: 443px;
  height: 426px;
  object-fit: cover;
}
 
.home-thq-banners-elm2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-thq-banner-manage-elm2 {
  width: 100%;
  height: 497px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  padding-left: var(--dl-layout-space-sevenunits);
  padding-right: var(--dl-layout-space-sevenunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-sixunits);
  justify-content: center;
  background-color: #EFF0F2;
}
 
.home-container15 {
  width: 1115px;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-image4 {
  width: 495px;
  height: 355px;
  object-fit: cover;
}
 
.home-thq-left-elm3 {
  flex: 1;
  width: 696px;
  height: 332px;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-fourunits);
  flex-direction: column;
}
 
.home-text28 {
  top: -30px;
  color: rgb(248, 113, 113);
  right: 0px;
  position: absolute;
  text-align: left;
}
 
.home-text29 {
  color: rgb(29, 45, 68);
  font-size: 58px;
  text-align: right;
}
 
.home-text30 {
  color: rgba(29, 45, 68, 0.6);
  text-align: right;
  line-height: 24px;
  margin-left: 35px;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.home-thq-banners-elm3 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-thq-banner-manage-elm3 {
  width: 100%;
  height: 504px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  border-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  padding-left: var(--dl-layout-space-sevenunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-sixunits);
  justify-content: center;
  background-color: #EFF0F2;
}
 
.home-container16 {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-thq-left-elm4 {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-fourunits);
  flex-direction: column;
}
 
.home-text33 {
  color: rgb(248, 113, 113);
}
 
.home-text34 {
  color: rgb(29, 45, 68);
  font-size: 60px;
  text-align: left;
}
 
.home-text35 {
  color: rgba(29, 45, 68, 0.6);
  line-height: 24px;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.home-image5 {
  width: 416px;
  height: 410px;
  object-fit: cover;
}
 
.home-thq-integrations-elm {
  width: 100%;
  height: 616px;
  display: flex;
  padding: var(--dl-layout-space-sevenunits);
  align-items: center;
  flex-direction: column;
  padding-bottom: 71px;
  justify-content: center;
  background-color: #f6f6f6;
}
 
.home-thq-centered-container-elm {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-thq-heading-elm1 {
  height: 196px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-text38 {
  color: #f87171;
}
 
.home-text39 {
  color: rgb(29, 45, 68);
}
 
.home-text40 {
  color: rgba(25, 48, 69, 0.6);
  text-align: center;
  margin-bottom: var(--dl-layout-space-fiveunits);
}
 
.home-thq-pills-container-elm {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-thq-pills-elm {
  width: 100%;
  display: flex;
  grid-gap: var(--dl-layout-space-twounits);
  flex-wrap: wrap;
  margin-bottom: var(--dl-layout-space-threeunits);
  flex-direction: row;
  justify-content: center;
}
 
.home-container17 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
 
.home-container18 {
  flex: 0 0 auto;
  width: 240px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-container19 {
  flex: 0 0 auto;
  width: 240px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-container20 {
  gap: var(--dl-layout-space-twounits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--dl-layout-space-fiveunits);
  flex-direction: row;
  justify-content: center;
}
 
.home-thq-action-bar-elm {
  width: 100%;
  display: flex;
  padding: 120px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-thq-action-elm {
  width: 1027px;
  display: flex;
  max-width: 1200px;
  align-items: flex-end;
  border-radius: 50px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f87171;
}
 
.home-thq-heading-elm2 {
  width: 933px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-sevenunits);
  padding-left: var(--dl-layout-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-sevenunits);
}
 
.home-text41 {
  color: var(--dl-color-gray-white);
  text-align: left;
}
 
.home-text44 {
  color: rgb(238, 233, 254);
  line-height: 24px;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.home-link4 {
  display: contents;
}
 
.home-thq-book-with-calendly-elm {
  color: white;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  border-color: #f87171;
  border-width: 3px;
  padding-left: var(--dl-layout-space-twounits);
  border-radius: 12px;
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
  background-color: rgba(246, 246, 246, 0.71);
  background-image: linear-gradient(0deg, rgb(242, 208, 208) 0.00%,rgb(248, 113, 113) 100.00%);
}
 
.home-thq-book-with-calendly-elm:hover {
  color: black;
  background-color: #ffffff;
}
 
.home-text45 {
  color: rgb(246, 246, 246);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
 
.home-thq-images-elm {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text46 {
  display: inline-block;
  font-family: "Inter";
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text47 {
  display: inline-block;
  font-family: "Inter";
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text48 {
  display: inline-block;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text49 {
  display: inline-block;
  font-family: "Inter";
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text50 {
  display: inline-block;
  font-family: "Inter";
}
 
.home-fragment6 {
  display: contents;
}
 
.home-text51 {
  display: inline-block;
  font-family: "Inter";
}
 
.home-link5 {
  display: contents;
}
 
.home-container21 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon3 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text52 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 991px) {
  .home-thq-hero-elm {
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .home-thq-close-mobile-menu-elm {
    align-items: center;
    justify-content: center;
  }
  .home-thq-desktop-navigation-elm {
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .home-thq-centered-elm {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .home-thq-left-elm1 {
    margin-left: var(--dl-layout-space-halfunit);
  }
  .home-thq-get-started-elm {
    display: none;
  }
  .home-thq-mobile-menu-button-elm {
    display: flex;
  }
  .home-thq-content-elm {
    width: 100%;
    max-width: 1200px;
  }
  .home-thq-banner-manage-elm1 {
    padding-top: var(--dl-layout-space-threeunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .home-thq-left-elm2 {
    margin-right: var(--dl-layout-space-threeunits);
  }
  .home-thq-banner-manage-elm2 {
    padding-top: var(--dl-layout-space-threeunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .home-thq-left-elm3 {
    margin-right: var(--dl-layout-space-threeunits);
  }
  .home-thq-banner-manage-elm3 {
    padding-top: var(--dl-layout-space-threeunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .home-thq-left-elm4 {
    margin-right: var(--dl-layout-space-threeunits);
  }
  .home-container20 {
    margin-left: 0px;
  }
  .home-thq-action-elm {
    flex-direction: column;
  }
  .home-thq-heading-elm2 {
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-threeunits);
    padding-right: var(--dl-layout-space-threeunits);
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .home-text41 {
    font-size: 36px;
    line-height: 36px;
  }
}
 
@media(max-width: 767px) {
  .home-thq-hero-elm {
    height: 620px;
    position: relative;
    padding-bottom: 180px;
    background-color: var(--dl-color-template-blue-bg);
  }
  .home-thq-desktop-navigation-elm {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-thq-centered-elm {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-thq-left-elm1 {
    margin-left: var(--dl-layout-space-unit);
  }
  .home-thq-right-elm {
    margin-right: var(--dl-layout-space-unit);
  }
  .home-thq-get-started-elm {
    display: none;
  }
  .home-thq-content-elm {
    height: 100%;
    margin-top: var(--dl-layout-space-fourunits);
    justify-content: center;
  }
  .home-text14 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .home-text20 {
    color: rgb(238, 233, 254);
    font-size: 16px;
    margin-top: var(--dl-layout-space-unit);
    line-height: 24px;
  }
  .home-thq-share-your-challenges-elm {
    margin-top: var(--dl-layout-space-twounits);
  }
  .home-thq-learn-more-elm {
    margin-top: var(--dl-layout-space-twounits);
  }
  .home-thq-banner-manage-elm1 {
    padding-top: var(--dl-layout-space-fourunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .home-container14 {
    flex-direction: column;
  }
  .home-thq-left-elm2 {
    margin-right: 0px;
  }
  .home-text24 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-text25 {
    line-height: 24px;
    margin-bottom: var(--dl-layout-space-twounits);
  }
  .home-thq-banner-manage-elm2 {
    padding-top: var(--dl-layout-space-fourunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .home-container15 {
    flex-direction: column;
  }
  .home-thq-left-elm3 {
    margin-right: 0px;
  }
  .home-text29 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-text30 {
    line-height: 24px;
    margin-bottom: var(--dl-layout-space-twounits);
  }
  .home-thq-banner-manage-elm3 {
    padding-top: var(--dl-layout-space-fourunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .home-container16 {
    flex-direction: column;
  }
  .home-thq-left-elm4 {
    margin-right: 0px;
  }
  .home-text34 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-text35 {
    line-height: 24px;
    margin-bottom: var(--dl-layout-space-twounits);
  }
  .home-thq-integrations-elm {
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .home-text40 {
    line-height: 24px;
  }
  .home-thq-pills-elm {
    margin-bottom: var(--dl-layout-space-threeunits);
  }
  .home-thq-action-bar-elm {
    padding-top: var(--dl-layout-space-fourunits);
    padding-left: var(--dl-layout-space-fourunits);
    padding-right: var(--dl-layout-space-fourunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .home-thq-action-elm {
    align-items: center;
  }
  .home-thq-heading-elm2 {
    padding-top: var(--dl-layout-space-threeunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .home-text41 {
    font-size: 28px;
    text-align: left;
  }
  .home-thq-book-with-calendly-elm {
    margin-top: var(--dl-layout-space-twounits);
  }
  .home-thq-images-elm {
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .home-thq-hero-elm {
    padding-bottom: 160px;
  }
  .home-thq-logo-elm {
    margin-left: 0px;
  }
  .home-icon1 {
    align-items: center;
    justify-content: center;
  }
  .home-text14 {
    width: 479px;
    font-family: Inter;
  }
  .home-text15 {
    font-style: normal;
  }
  .home-text16 {
    font-style: normal;
  }
  .home-text17 {
    font-size: 73px;
    font-style: italic;
    font-family: Georgia;
    font-weight: 500;
  }
  .home-text18 {
    font-size: 70px;
    font-style: normal;
  }
  .home-text19 {
    font-style: normal;
  }
  .home-text20 {
    color: #EEE9FE;
  }
  .home-thq-share-your-challenges-elm {
    width: 100%;
  }
  .home-thq-learn-more-elm {
    width: 100%;
  }
  .home-text25 {
    line-height: 24px;
  }
  .home-text30 {
    line-height: 24px;
  }
  .home-text35 {
    line-height: 24px;
  }
  .home-thq-action-bar-elm {
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
  .home-text41 {
    font-size: 14px;
  }
  .home-thq-book-with-calendly-elm {
    width: 100%;
  }
}
