:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-layout-size-large: 144px;
  --dl-layout-size-small: 48px;
  --dl-layout-space-unit: 16px;
  --dl-layout-size-medium: 96px;
  --dl-layout-size-xlarge: 192px;
  --dl-layout-size-xsmall: 16px;
  --dl-color-theme-accent1: #FFFFFF;
  --dl-color-theme-accent2: #F5D1B0;
  --dl-layout-radius-round: 50%;
  --dl-layout-size-xxlarge: 288px;
  --dl-color-theme-primary1: #BF4408;
  --dl-color-theme-primary2: #E65103;
  --dl-layout-size-maxwidth: 1400px;
  --dl-layout-radius-radius2: 2px;
  --dl-layout-radius-radius4: 4px;
  --dl-layout-radius-radius8: 8px;
  --dl-layout-space-halfunit: 8px;
  --dl-layout-space-sixunits: 96px;
  --dl-layout-space-twounits: 32px;
  --dl-color-template-blue-bg: #5228f5ff;
  --dl-color-theme-secondary1: #FFFFFF;
  --dl-color-theme-secondary2: #FBF1EB;
  --dl-layout-space-fiveunits: 80px;
  --dl-layout-space-fourunits: 64px;
  --dl-layout-space-sevenunits: 112px;
  --dl-layout-space-threeunits: 48px;
  --dl-color-theme-neutral-dark: #191818;
  --dl-layout-radius-cardradius: 8px;
  --dl-color-theme-neutral-light: #FBFAF9;
  --dl-layout-radius-imageradius: 8px;
  --dl-layout-radius-inputradius: 24px;
  --dl-layout-radius-buttonradius: 24px;
  --dl-layout-space-oneandhalfunits: 24px;
}
 
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
 
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
 
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
 
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
 
.list-item {
  display: list-item;
}
 
.teleport-show {
  display: flex !important;
  transform: translateX(0)!important;
}
 
.Link {
  cursor: pointer;
  white-space: nowrap;
  margin-right: 40px;
}
 
.Link:hover {
  color: #5228F5;
}
 
.card {
  flex: 1;
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  transition: 0.3s;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: 30px;
  padding-right: var(--dl-layout-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
  background-color: #ffffff;
}
 
.card:hover {
  transform: scale(1.05);
}
 
.pill {
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-unit);
  border-radius: 200px;
  margin-bottom: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: center;
  background-color: #ffffff;
}
 
.testimonal {
  width: 100%;
  display: flex;
  max-width: 375px;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-threeunits);
  border-radius: 50px;
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
  justify-content: center;
  background-color: #EFF0F2;
}
 
.accordionContainer {
  gap: 20px;
  fill: rgba(0, 0, 0, 0.5);
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  max-width: 800px;
  transition: 0.3s;
  align-items: center;
  user-select: none;
  flex-direction: column;
  justify-content: space-between;
}
 
.accordionContainer:hover {
  color: rgba(0, 0, 0, 0.5);
}
 
.metrics {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.title {
  font-size: 56px;
  text-align: center;
  font-weight: 700;
  line-height: 72px;
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.sub-title {
  color: rgb(82, 40, 245);
  font-style: normal;
  font-weight: 600;
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.template-button {
  color: white;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-twounits);
  border-radius: 56px;
  margin-bottom: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  background-color: #000000;
}
 
.template-button:hover {
  color: black;
  background-color: #ffffff;
}
 

 
.accordionIcon {
  width: 30px;
  height: 30px;
}
 
.accordionContent {
  width: 100%;
  display: flex;
  user-select: text;
}
 
.thq-input {
  color: var(--dl-color-theme-neutral-dark);
  cursor: auto;
  outline: none;
  padding: 0.5rem 1rem;
  align-self: stretch;
  text-align: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: var(--dl-layout-radius-inputradius);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.thq-input:focus {
  outline: 1px solid var(--dl-color-theme-primary1);
}
 
.thq-button-filled {
  gap: var(--dl-layout-space-halfunit);
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  font-weight: bold;
  padding-top: var(--dl-layout-space-halfunit);
  white-space: nowrap;
  border-color: var(--dl-color-theme-primary1);
  border-width: 1px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: var(--dl-layout-radius-buttonradius);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
}
 
.thq-button-filled:hover {
  fill: var(--dl-color-theme-secondary2);
  color: var(--dl-color-theme-secondary2);
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}
 
.thq-button-outline {
  gap: var(--dl-layout-space-halfunit);
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  border: 1px solid;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  font-weight: bold;
  padding-top: var(--dl-layout-space-halfunit);
  white-space: nowrap;
  border-color: var(--dl-color-theme-primary1);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: var(--dl-layout-radius-buttonradius);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
}
 
.thq-button-outline:hover {
  fill: var(--dl-color-theme-secondary2);
  color: var(--dl-color-theme-secondary2);
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}
 
.thq-button-flat {
  gap: var(--dl-layout-space-halfunit);
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  font-weight: bold;
  padding-top: var(--dl-layout-space-halfunit);
  white-space: nowrap;
  border-color: transparent;
  border-width: 1px;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  border-radius: var(--dl-layout-radius-buttonradius);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: center;
}
 
.thq-button-flat:hover {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}
 
.thq-heading-1 {
  font-size: 48px;
  font-family: STIX Two Text;
  font-weight: 700;
  line-height: 1.5;
}
 
.thq-heading-2 {
  font-size: 35px;
  font-family: STIX Two Text;
  font-weight: 600;
  line-height: 1.5;
}
 
.thq-heading-3 {
  font-size: 26px;
  font-family: STIX Two Text;
  font-weight: 600;
  line-height: 1.5;
}
 
.thq-body-large {
  font-size: 18px;
  font-family: Noto Sans;
  line-height: 1.5;
}
 
.thq-body-small {
  font-size: 16px;
  font-family: Noto Sans;
  line-height: 1.5;
}
 
.thq-team-image-round {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
 
.thq-section-padding {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-fiveunits);
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.thq-section-max-width {
  width: 100%;
  max-width: var(--dl-layout-size-maxwidth);
}
 
.thq-img-ratio-1-1 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: var(--dl-layout-radius-imageradius);
}
 
.thq-img-ratio-16-9 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: var(--dl-layout-radius-imageradius);
}
 
.thq-img-ratio-4-3 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
  border-radius: var(--dl-layout-radius-imageradius);
}
 
.thq-img-ratio-4-6 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/6;
  border-radius: var(--dl-layout-radius-imageradius);
}
 
.thq-img-round {
  width: 100%;
  border-radius: var(--dl-layout-radius-round);
}
 
.thq-flex-column {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.thq-flex-row {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
}
 
.thq-grid-6 {
  display: grid;
  grid-gap: var(--dl-layout-space-twounits);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
 
.thq-grid-5 {
  display: grid;
  grid-gap: var(--dl-layout-space-twounits);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
 
.thq-card {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  padding: var(--dl-layout-space-twounits);
  align-items: stretch;
  border-radius: var(--dl-layout-radius-cardradius);
  flex-direction: column;
}
 
.thq-box-shadow {
  box-shadow: 0px 0px 5px -2px var(--dl-color-theme-neutral-dark);
}
 
.thq-grid-3 {
  display: grid;
  grid-gap: var(--dl-layout-space-twounits);
  grid-template-columns: 1fr 1fr 1fr;
}
 
.thq-grid-4 {
  display: grid;
  grid-gap: var(--dl-layout-space-twounits);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
 
.thq-grid-2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-twounits);
  grid-template-columns: 1fr 1fr;
}
 
.thq-checkbox {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.thq-select {
  cursor: pointer;
  appearance: none;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-inputradius);
  padding-right: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg width%3D%2220%22 height%3D%2220%22 xmlns%3D%22http%3A//www.w3.org/2000/svg%22 viewBox%3D%220 0 20 20%22 fill%3D%22%23000%22%3E%3Cpath d%3D%22M4.293 7.293a1 1 0 011.414 0L10 11.586l4.293-4.293a1 1 0 111.414 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414z%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 8px center;
}
 
.thq-divider-horizontal {
  width: 100%;
  height: 1px;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.thq-icon-small {
  width: 24px;
  height: 24px;
}
 
.thq-button-icon {
  fill: var(--dl-color-theme-secondary1);
  padding: 3px;
  transition: 0.3s;
  border-radius: var(--dl-layout-radius-round);
}
 
.thq-button-icon:hover {
  fill: var(--dl-color-theme-secondary2);
}
 
.thq-icon-medium {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
}
 
.thq-icon-x-small {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.thq-link {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, var(--dl-color-theme-primary1) 50%, var(--dl-color-theme-neutral-dark) 50%);
  transition: background-position 300ms ease;
  font-weight: 600;
  background-clip: text;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-text-fill-color: transparent;
}
 
.thq-link:hover {
  background-position: 0 100%;
}
 
.thq-grid-auto-300 {
  display: grid;
  grid-gap: var(--dl-layout-space-oneandhalfunits);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
 
.thq-animated-group-vertical-reverse {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  animation: scroll-y 20s linear infinite;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  animation-direction: reverse;
}
 
.thq-animated-group-horizontal-reverse {
  gap: var(--dl-layout-space-unit);
  display: flex;
  animation: scroll-x 20s linear infinite;
  min-width: 100%;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-around;
  animation-direction: reverse;
}
 
.thq-animated-group-vertical {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  animation: scroll-y 20s linear infinite;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
}
 
.thq-animated-group-horizontal {
  gap: var(--dl-layout-space-unit);
  display: flex;
  animation: scroll-x 20s linear infinite;
  min-width: 100%;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-around;
}
 
.thq-animated-group-container-vertical {
  gap: var(--dl-layout-space-unit);
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
 
.thq-animated-group-container-horizontal {
  gap: var(--dl-layout-space-unit);
  display: flex;
  overflow: hidden;
}
 
.thq-mask-image-vertical {
  mask-image: linear-gradient(to bottom, transparent, black 1%, black 99%, transparent);
}
 
.thq-mask-image-horizontal {
  mask-image: linear-gradient(to right, transparent, black 1%, black 99%, transparent);
}
 
.thq-img-scale {
  transition: 0.3s;
}
 
.thq-img-scale:hover {
  scale: 1.05;
}
 
.thq-animated-card-bg-1 {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  border-radius: var(--dl-layout-radius-cardradius);
  background-color: var(--dl-color-theme-accent1);
}
 
.thq-animated-card-bg-2 {
  transition: transform 0.3s;
  border-radius: var(--dl-layout-radius-cardradius);
  background-color: var(--dl-color-theme-accent2);
}
 
.thq-button-animated {
  outline: none;
  z-index: 1;
  overflow: hidden;
  position: relative;
  border-width: 2px;
}
 
.thq-input::placeholder {
  text-align: center;
  vertical-align: middle;
}
 
.thq-animated-group-container-vertical:hover div {
  animation-play-state: paused;
}
 
.thq-animated-group-container-horizontal:hover div {
  animation-play-state: paused;
}
 
.thq-animated-card-bg-2:has([data-animated="true"]:hover) {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(3deg) skew(0deg, 0deg);
}
 
.thq-animated-card-bg-1:has([data-animated="true"]:hover) {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-6deg) skew(0deg, 0deg);
}
 
.thq-button-animated:before {
  top: 0;
  left: -20%;
  color: var(--dl-color-theme-neutral-light);
  width: 200%;
  height: 101%;
  content: "";
  z-index: 1;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.5s;
  border-radius: var(--dl-layout-radius-buttonradius);
  background-color: var(--dl-color-theme-neutral-dark);
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
 
.thq-button-animated:hover::before {
  color: var(--dl-color-theme-neutral-light);
  z-index: -1;
  transform: scaleX(1);
}
 
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
 
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
 
@media(max-width: 991px) {
  .testimonal {
    padding-top: var(--dl-layout-space-threeunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .template-button {
    margin-bottom: var(--dl-layout-space-twounits);
  }
  .thq-grid-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
 
@media(max-width: 767px) {
  .card {
    padding-top: var(--dl-layout-space-threeunits);
    margin-right: 0px;
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .testimonal {
    max-width: 100%;
  }
  .title {
    font-size: 28px;
    line-height: 36px;
  }
  .thq-section-padding {
    padding: var(--dl-layout-space-threeunits);
  }
  .thq-flex-column {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .thq-flex-row {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .thq-grid-6 {
    grid-gap: var(--dl-layout-space-oneandhalfunits);
    grid-template-columns: 1fr 1fr 1fr;
  }
  .thq-grid-5 {
    grid-gap: var(--dl-layout-space-oneandhalfunits);
    grid-template-columns: 1fr 1fr 1fr;
  }
  .thq-card {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .thq-grid-3 {
    grid-gap: var(--dl-layout-space-oneandhalfunits);
    grid-template-columns: 1fr 1fr;
  }
  .thq-grid-4 {
    grid-gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
  }
  .thq-grid-2 {
    grid-gap: var(--dl-layout-space-oneandhalfunits);
    grid-template-columns: 1fr;
  }
  .thq-img-scale {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .card {
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .pill {
    width: 130px;
    height: 60px;
  }
  .title {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .template-button {
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    background-color: var(--dl-color-gray-black);
  }
  .thq-section-padding {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .thq-flex-column {
    gap: var(--dl-layout-space-unit);
  }
  .thq-flex-row {
    gap: var(--dl-layout-space-unit);
  }
  .thq-grid-6 {
    grid-gap: var(--dl-layout-space-unit);
    grid-template-columns: 1fr 1fr;
  }
  .thq-grid-5 {
    grid-gap: var(--dl-layout-space-unit);
    grid-template-columns: 1fr 1fr;
  }
  .thq-grid-3 {
    grid-gap: var(--dl-layout-space-unit);
    align-items: center;
    grid-template-columns: 1fr;
  }
  .thq-grid-4 {
    grid-gap: var(--dl-layout-space-unit);
    align-items: center;
    flex-direction: column;
    grid-template-columns: 1fr;
  }
  .thq-grid-2 {
    grid-gap: var(--dl-layout-space-unit);
  }
  .thq-grid-auto-300 {
    grid-template-columns: 1fr;
  }
}
